body * {
    margin: auto;
    text-align: center;
  }
  
  #carousel-wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    overflow-x: hidden;
  }
  
  button {
    position: absolute;
    background: #eee;
    border: 0;
    border-radius: 50%;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
    z-index: 999;
  }
  
  #carousel-wrapper button {
    display: none;
  }
  
  #carousel-wrapper:hover button {
    display: initial;
  }
  
  #previous {
    left: 0;
  }
  
  #next {
    right: 0;
  }
  
  #carousel {
    display: flex;
    width: 100%;
    overflow-x: visible;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  #carousel.loading img {
    border: 1px dashed black;
  }
  
  #carousel img {
    display: inline;
    margin-left: 2rem;
    width: 200px;
    height: 200px;
    /* background: #eee; */
  }
  