.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:rgb(198, 230, 198);
  }
  
  .item {
    width: 48%;
    height: 100px;
    margin-bottom: 2%;
    border-radius: 2%;
    background-color: rgb(106, 156, 106);
  }
  
  .item:nth-child(3n) {
    width: 100%;
  }